#                                       # Problem Set - 20200828

# Problem statement-1

Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive

In [2]:
def div_by_6(lb,ub):
    nav=[]
    for i in range(lb,ub+1):
        if (i%6==0)and (100%i!=0):
            nav=nav+[i]
    return nav

div_by_6(2,100)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

# Problem statement-2

Function to find the average of cubes of all even numbers in a given range(lb, ub) inclusive

In [3]:
def cubes_even_num(lb,ub):
    nav=[]
    for i in range(lb,ub+1):
        if(i%2==0):
            nav=nav+[i**3]
    return sum(nav)/len(nav)
cubes_even_num(1,100)

260100.0

# Problem statement-3

Function to generate the list of factors for a given number

In [4]:
def fact_given_num(n):
    nav=[]
    for i in range(1,n//2+1):
        if(n%i==0):
            nav=nav+[i]
    return nav
fact_given_num(100)

[1, 2, 4, 5, 10, 20, 25, 50]

# Problem statement-4

Function to calculate the factorial of a given number

In [5]:
def factorial_given_num(n):
    fact=1
    while(n>0):
        fact=fact*n
        n=n-1
    return fact
factorial_given_num(7)

5040

# Problem statement-5

Function to check if a given number is Prime

In [6]:
def prime_or_not(n):
    count=0
    for i in range(2,n+1):
        if(n%i==0):
            count+=1
        if(count>1):
            return False
    return True
prime_or_not(29)

True

# Problem statement-6

Function to calculate the average first N Prime numbers

In [7]:
def prime_num_in_range(n):
    c=0;
    start=2
    sum=0
    while(c!=n):
        if prime_or_not(start):
            c+=1
            sum+=start
            start+=1
        else:
            start+=1
    return sum/n
            
prime_num_in_range(25)

42.4

# Problem statement-7

Function to generate all Perfect numbers in a given range

In [8]:
def perfect_num_or_not(lb,ub):
    nav=[]
    for i in range(lb,ub+1):
        if sum(fact_given_num(i))==i:
            nav+=[i]
    return nav
perfect_num_or_not(1,1000)

[6, 28, 496]

# ADVANCED PROBLEM SET

# Problem-8.1

Function to calculate average of all factorials in a given range

In [9]:
def avg_fact_in_range(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum+=factorial_given_num(i)
    return sum/((ub-lb)+1)
avg_fact_in_range(1,6)

145.5

# Problem-8.2

Function to generate N odd narcissistic numbers

In [10]:
def n_odd_narcissistic(n):
    c=0
    nav=[]
    start=1
    while(c!=n):
        a_str=str(start)
        length=len(a_str)
        num=start
        summ=0
        for i in range(1,length+1):
            rem=num%10
            summ=summ+rem**length
            num=num//10
            if(summ>start):
                break
        if(summ==start):
            nav=nav+[start]
            c+=1
        start+=2
    return nav
n_odd_narcissistic(10)

[1, 3, 5, 7, 9, 153, 371, 407, 92727, 1741725]

# Problem-8.3

Function to generate Multiplication table for a number in a given range
10 in the range(100, 102) inclusive
10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020

In [17]:
def mult_table(num,lb,ub):
    for i in range(lb,ub+1):
        print(num,'x',i,'=',num*i)
mult_table(450,100,102)

450 x 100 = 45000
450 x 101 = 45450
450 x 102 = 45900

# Problem-8.4

Function to generate N odd armstrong numbers

In [14]:
def n_odd_armstrong(n):
    c=0
    start=101
    nav=[]
    while(c!=n and start<=999):
        num=start
        summ=0
        for i in range(1,4):
            rem=num%10
            summ+=rem**3
            num=num//10
        if(summ==start):
            nav.append(start)
            c+=1
        start+=2
    return nav
n_odd_armstrong(67)

[153, 371, 407]

# Problem-8.5

Generate all Narcissistic Numbers in a given range of numbers.

In [24]:
def narcissitic_in_given_range(lb,ub):
    nav=[]
    for i in range(lb,ub+1):
        ln=len(str(i))
        summ=0
        num=i
        for j in range(1,ln+1):
            rem=num%10
            summ+=rem**ln
            num=num//10
            if(summ>i):
                break
        if(summ==i):
            nav.append(i)
    return nav
narcissitic_in_given_range(1,10000)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]